.tree-item-self .tree-item-icon {
    display: none;
}

.nav-folder-title-content {
    font-size: 1.4em;
}
.nav-folder-title-content::before {
    margin-right: 0.2em;
    display: inline-block;
}
.nav-folder-title[data-path="/"]        .nav-folder-title-content::before { content: "📒"; }
.nav-folder-title:not([data-path*="/"]) .nav-folder-title-content::before { content: "📓"; }
.nav-folder-title[data-path="cast"]     .nav-folder-title-content::before { content: "📘"; }
.nav-folder-title[data-path="dart"]     .nav-folder-title-content::before { content: "📗"; }
.nav-folder-title[data-path="flow"]     .nav-folder-title-content::before { content: "📙"; }
.nav-folder-title[data-path="lake"]     .nav-folder-title-content::before { content: "📗"; }
.nav-folder-title[data-path="save"]     .nav-folder-title-content::before { content: "📙"; }
.nav-folder-title[data-path="ward"]     .nav-folder-title-content::before { content: "📗"; }
.nav-folder-title[data-path="yarn"]     .nav-folder-title-content::before { content: "📙"; }

