body:not(.native-scrollbars) ::-webkit-scrollbar {
    -webkit-border-radius: 0px;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 0px;
}