/* Заменить теги на порингов */
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-sapling,   .tag[href="#sapling"]	{ content: url(http://pandoraonline.net/heRO_wiki/images/7/77/Sapling.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-poring,    .tag[href="#poring"]	{ content: url(https://rurowiki.ru/media/monsters/1002.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-drops,     .tag[href="#drops"]		{ content: url(https://rurowiki.ru/media/monsters/1113.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-poporing,  .tag[href="#poporing"]	{ content: url(https://rurowiki.ru/media/monsters/1031.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-marin,     .tag[href="#marin"]		{ content: url(https://rurowiki.ru/media/monsters/1242.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-pouring,   .tag[href="#pouring"]	{ content: url(https://rurowiki.ru/media/monsters/1894.gif); }
:not(div.cm-active.cm-line) > .cm-hashtag-end.cm-tag-deviling,  .tag[href="#deviling"]	{ content: url(https://rurowiki.ru/media/monsters/1582.gif); }

/* Убрать начало указанных тегов */
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-sapling,
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-poring,   
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-drops,    
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-poporing, 
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-marin,	
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-pouring,
:not(div.cm-active.cm-line) > .cm-hashtag-begin.cm-tag-deviling {
    display: none;
}

/* Убрать оформление указанных тегов */
:not(div.cm-active.cm-line) > .cm-tag-sapling,      .tag[href="#sapling"],
:not(div.cm-active.cm-line) > .cm-tag-poring,       .tag[href="#poring"],
:not(div.cm-active.cm-line) > .cm-tag-drops,        .tag[href="#drops"],
:not(div.cm-active.cm-line) > .cm-tag-poporing,     .tag[href="#poporing"],
:not(div.cm-active.cm-line) > .cm-tag-marin,        .tag[href="#marin"],
:not(div.cm-active.cm-line) > .cm-tag-pouring,      .tag[href="#pouring"],
:not(div.cm-active.cm-line) > .cm-tag-deviling,     .tag[href="#deviling"] {
    background-color: unset;
    border-radius: unset;
    padding: unset;
    vertical-align: bottom;
    height: 1.8em;
}

/* Заменить ссылки на порингов 
.internal-link[href*="#poring"]     { content: url(https://rurowiki.ru/media/monsters/1002.gif); }
.internal-link[href*="#drops"]		{ content: url(https://rurowiki.ru/media/monsters/1113.gif); }
.internal-link[href*="#poporing"]	{ content: url(https://rurowiki.ru/media/monsters/1031.gif); }
.internal-link[href*="#marin"]		{ content: url(https://rurowiki.ru/media/monsters/1242.gif); }
.internal-link[href*="#ghostring"]	{ content: url(https://rurowiki.ru/media/monsters/1120.gif); }
.internal-link[href*="#deviling"]	{ content: url(https://rurowiki.ru/media/monsters/1582.gif); }
.internal-link[href*="#deviruchi"]	{ content: url(https://rurowiki.ru/media/monsters/1109.gif); }
.internal-link[href*="#angeling"]	{ content: url(https://rurowiki.ru/media/monsters/1096.gif); }
.internal-link[href*="#skeggiold"]	{ content: url(https://rurowiki.ru/media/monsters/1754.gif); }
.internal-link[href*="#pouring"]	{ content: url(https://rurowiki.ru/media/monsters/1894.gif); }
*/
