.markdown-preview-view h1 { font-size: 1.45em; margin: 8px 0; }
.markdown-preview-view h2 { font-size: 1.35em; margin: 8px 0; }
.markdown-preview-view h3 { font-size: 1.25em; margin: 8px 0; }
.markdown-preview-view h4 { font-size: 1.15em; margin: 8px 0; }
.markdown-preview-view h5 { font-size: 0.95em; margin: 6px 0; }
.markdown-preview-view h6 { font-size: 0.95em; margin: 6px 0; }
.cm-header-1 { font-size: 1.50em; margin: 8px 0; }
.cm-header-2 { font-size: 1.45em; margin: 8px 0; }
.cm-header-3 { font-size: 1.35em; margin: 8px 0; }
.cm-header-4 { font-size: 1.25em; margin: 8px 0; }
.cm-header-5 { font-size: 1.0em; margin: 6px 0; }
.cm-header-6 { font-size: 1.0em; margin: 6px 0; }