/* Disable left sidebar container */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    display: none;
}

/* Disable vault selector */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
    display: none;
}

/* Disable help button */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-actions> *:first-child {
    display: none;
}
